.text-indigo {
  color: #4b0082;
}
.text-maroon {
  color: #800000;
}
.text-coral {
  color: #ff6f61;
}
.text-lavander {
  color: #e6e6fa;
}
.text-olive {
  color: #808000;
}
.text-crimson {
  color: #dc143c;
}
.text-blue {
  color: #007bff;
}
.text-green {
  color: #28a745;
}
.text-red {
  color: #dc3545;
}
.text-yellow {
  color: #ffc107;
}
.text-cyan {
  color: #17a2b8;
}
.text-black {
  color: #343a40;
}
.text-apricot {
  color: #fbb982;
}
.text-slate {
  color: #6c7b8b;
}
.text-ruby {
  color: #e0115f;
}
.text-mocha {
  color: #95573e;
}
.text-teal {
  color: #008080;
}
.text-pearl {
  color: #eae0c8;
}
.text-orchid {
  color: #da70d6;
}
.text-amber {
  color: #ffbf00;
}
.text-azure {
  color: #007fff;
}
.text-topaz {
  color: #ffc87c;
}
.text-raven {
  color: #727272;
}
.text-blush {
  color: #de5d83;
}
